@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-black text-capitalize">welcome Members!</h1>
    <h2 class="display-6 text-black text-capitalize"> Open for online orders daily 11-7</h2>
    <img class="mainImage" src="~/images/ValleyViewLogo-1.png" />
    <br/>
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Confirmation">View Order Confirmation</a>

</div>
