@page
@model VvgcOrdering.Pages.MenuModel
@{
}

<div class="text-center">
    <img class="mainImage" src="~/images/ValleyViewLogo-1.png" />
    <h1 class="display-4 text-black text-capitalize">Menu</h1>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                  
                    
                </div>
            </div>
            @foreach (var item in Model.MenuOrders)
            {
                <div class="col-4 mb-5">
                    <h3 style="text-align:left;">@item.ItemName $@item.BasePrice</h3>
                    <p style="text-align: left;">@item.Description</p>
                    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout"
                    asp-route-ItemName="@item.ItemName"
                    asp-route-Price="@item.BasePrice">Add to Cart</a>

                    <br />
                </div>
            }
        </div>
    </div>
</div>
